<app-navbar></app-navbar>


<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a class="d-flex align-items-center text-dark text-decoration-none">        
        <span class="fs-4">Elegir Materia y luego inscribir alumnos desde la lista</span>
      </a>
    </header>  


    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <app-listado-materias (eventMateriaSeleccionado)=CargarMateriaElegida($event)></app-listado-materias>
      </div>

      <div class="col-md-6">          
        <app-listado-alumnos [materiaParaAsignar]="materiaSeleccionada" *ngIf="role=='admin'"></app-listado-alumnos>
        <app-materia-detalle [materiaParaAsignar]="materiaSeleccionada" *ngIf="role=='alumno'"></app-materia-detalle>
      </div>
    </div>

  </div>