<h4 class="d-flex justify-content-between  align-items-center mb-3">
    <span class="text-muted">Materias:  </span>
    <small class="text-muted" *ngIf="mostrar">{{cantidadMaterias}}</small>
</h4>
<div *ngIf="mostrar">    
    <ul class="list-group mb-3 card-body overflow-auto" style="height: 200px;" #scrollMe  [scrollTop]="scrollMe">
        <li type="button" class="list-group-item d-flex justify-content-between lh-condensed elegido" *ngFor="let materia of listadoMaterias" (click)="seleccionMateria(materia)">
            <div >
                <h6 class="my-0">{{materia.nombre}}</h6>
                <h6>Profesor/a: {{materia.profesor.apellido}}  {{materia.profesor.nombre}}</h6>
                <small class="text-muted">Año: {{materia.year}}</small><small class="text-muted">  Cuatrimestre: {{materia.cuatrimestre}}</small><small class="text-muted">  Cupo Total: {{materia.cupoAlumnos}}</small>
            </div>
            
        </li>
    </ul>
</div>

<div *ngIf="!mostrar">
    <mat-card class="activo">
        <h6 class="my-0">{{materiaElegida.nombre}}</h6>
        <h6>Profesor/a: {{materiaElegida.profesor.apellido}}  {{materiaElegida.profesor.nombre}}</h6>
        <small class="text-muted">Año: {{materiaElegida.year}}</small><small class="text-muted">  Cuatrimestre: {{materiaElegida.cuatrimestre}}</small><small class="text-muted">  Cupo Total: {{materiaElegida.cupoAlumnos}}</small>
    </mat-card>
</div>