<app-navbar></app-navbar>
<button mat-stroked-button color="primary" (click)="Cambio()" *ngIf="mostrar">
    Ver Calificaciones
</button>
<button mat-stroked-button color="primary" (click)="Cambio()" *ngIf="!mostrar">
    Volver
</button>
<div class="container" *ngIf="mostrar">
    <h4 class="d-flex justify-content-between  align-items-center mb-3">
        <span class="text-muted">Mis materias anotadas:  </span>
        
    </h4>
    <small class="text-muted" > Cantidad: {{cantidadMaterias}}</small>
    <div >    
        <ul class="list-group mb-3 card-body overflow-auto" style="height: 400px; width: 70%;" #scrollMe  [scrollTop]="scrollMe">
            <li type="button" class="list-group-item d-flex justify-content-between lh-condensed elegido" *ngFor="let materia of listadoMateriasDelALumno" (click)="seleccionMateria(materia)">
                <div >
                    <h6 class="my-0">{{materia.nombre}}</h6>
                    <h6>Profesor/a: {{materia.profesor.apellido}}  {{materia.profesor.nombre}}</h6>
                    <small class="text-muted">Año: {{materia.year}}</small><small class="text-muted">  Cuatrimestre: {{materia.cuatrimestre}}</small><small class="text-muted">  Cupo Total: {{materia.cupoAlumnos}}</small>
                </div>      
            </li>
        </ul>
    </div>
</div>

<div class="container" *ngIf="!mostrar">
    <h4 class="d-flex justify-content-between  align-items-center mb-3">
        <span class="text-muted">Mis materias anotadas:  </span>
        
    </h4>
    <small class="text-muted" > Cantidad: {{cantidadCalificaciones}}</small>
    <div >    
        <ul class="list-group mb-3 card-body overflow-auto" style="height: 400px; width: 70%;" #scrollMe  [scrollTop]="scrollMe">
            <li type="button" class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let calificacion of listadoCalificacionesDelALumno" (click)="seleccionMateria(materia)">
                <div >
                    <h6 class="my-0">{{calificacion.materia.nombre}}</h6>
                    <h6>Profesor/a: {{calificacion.materia.profesor.apellido}}  {{calificacion.materia.profesor.nombre}}</h6>
                    <small class="text-muted">Año: {{calificacion.materia.year}}</small><small class="text-muted">  Cuatrimestre: {{calificacion.materia.cuatrimestre}}</small>
                </div>
                <div>
                    <strong class="text-muted"> Nota Final: {{calificacion.nota}}</strong>
                    <br>
                    <strong class="text-muted"> Estado: {{calificacion.nota | notaTexto}}</strong>
                </div>
            </li>
        </ul>
    </div>
</div>