<div class="container">
    <div class="row-center">
        <div class="col-md-12">
            <div class="error-template texto">
                <div class="error-details">
                    Lo sentimos, Este usuario esta desabilitado
                </div>
                <div class="error-actions">
                    
                <a href="/" mat-raised-button color="warn" (click)="Desconectar()"><span class="glyphicon glyphicon-home"></span>
                    Go Back to Home Page </a>
                </div>
            </div>
        </div>
    </div>
</div>