table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 16%;
  }

  .btnHabilitar{
    width: 100%;
  }

  .botonAgregar{
    color:salmon;
    margin-left: 0.5%;
    margin-top: 0.5%;
  }
