<app-navbar></app-navbar>
<div class="container">   
    <div class="row-center">        
        <div class="col-md-12">
            <div class="home-template texto">
                <mat-grid-list cols="1" rowHeight="3:1" >
                    <mat-grid-tile > <img src="../../../../assets/Imagenes/universidad-portada.jpg"> </mat-grid-tile>   
                </mat-grid-list>
                
                <h1>Bienvenido</h1>                                                    
                
                <h5 *ngIf="user$ | async as user; else iniciar"> En el menu de navegacion podes elegir entre los distintos componentes interactivos.
                </h5>
                <ng-template #iniciar>
                    <h5 >Para poder utilizar nuestros servicios por favor ingresa con tu usuario o registrate.</h5>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>
