
.texto{
    color: darkturquoise;
}
.home-template {padding: 40px 15px;text-align: center;}
.home-actions {margin-top:15px;margin-bottom:15px;}
.home-actions .btn { margin-right:10px; }

img{
    width: 100%;
    height: 100%;
}