<div class="container">
    <div class="row-center">
        <div class="col-md-12">
            <div class="error-template texto">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, How did you get here??
                    <br>
                    Lo sentimos, un error ocurrió, ¿¿Cómo llegaste aqui??
                </div>
                <div class="error-actions">
                    <a href="/" mat-raised-button color="warn"><span class="glyphicon glyphicon-home"></span>
                        Go Back to Home Page </a>
                </div>
            </div>
        </div>
    </div>
</div>